*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 400vh;
    display: flex;
    overflow: hidden;
    background: rgb(0, 22, 32);
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.item{
    height: 10px;
    width: 10px;
    position: relative;
    background: white;
    margin: 0px 3px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.40),
    0 0 10px 5px rgba(255, 255, 255, 0.40),
    0 0 15px 10px rgba(255, 255, 255, 0.40);
    animation-name: animate;
    animation-duration: calc(300s/var(--i));
    animation-direction: linear;
    animation-iteration-count: infinite;
}

.item:nth-child(even){
    background: rgb(0, 255, 208);
    box-shadow: 0 0 0 5px rgba(0, 255, 208, 0.40),
    0 0 10px 5px rgba(0, 255, 208, 0.40),
    0 0 15px 10px rgba(0, 255, 208, 0.40);
}

@keyframes animate {
    0%{
        transform: translateY(-10vh) scale(0.3);
    }
    100%{
        transform: translateY(410vh) scale(1);
    }
}

.containerfront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#text1{
    color: white;
    font-family: Oswald;
    font-size: 4rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#text2{
    color: white;
    font-family: Oswald;
    font-size: 4rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#text3{
    color: white;
    font-family: Oswald;
    font-size: 4rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

#text4{
    color: white;
    font-family: Oswald;
    font-size: 4rem;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
